/*ThreadsPage.css*/ 
.threads-page {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--tab-border-color);
  background-color: var(--tab-background);
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: var(--tab-button-background);
  color: var(--tab-text-color);
}

.tab-button.active {
  background-color: #98c1d9;
  color: var(--active-tab-text-color);
}

.tab-content {
  flex: 1;
  padding: 20px;
  background-color: var(--tab-content-background);
  color: var(--tab-text-color);
  overflow-y: auto; /* Enables vertical scrolling */
}
